
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Registro de Nuevos Empleados</h1>
                <form #empleadoForm="ngForm" (ngSubmit)="addEmpleado(empleadoForm)">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ingrese su nombre" name="nombre"
                    [(ngModel)]="empleadoServicePublic.selectedEmpleado.nombre">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ingrese su cargo" name="cargo"
                    [(ngModel)]="empleadoServicePublic.selectedEmpleado.cargo">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ingrese su departamento"  name="departamento"
                    [(ngModel)]="empleadoServicePublic.selectedEmpleado.departamento">
                    </div>
                    <div class="form-group">
                    <input type="number" class="form-control" placeholder="Ingrese su sueldo" name="sueldo"
                    [(ngModel)]="empleadoServicePublic.selectedEmpleado.sueldo">
                    </div>
                    <button class="btn btn-primary" type="submit" >Crear</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Sueldo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleadoServicePublic.empleados">
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.cargo}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td>{{empleado.sueldo}}</td>
                    <td>
                        <button    (click)="Delete(empleado)"  class="btn btn-danger" >Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

